<!DOCTYPE html>
<html>
<head>
    <title>Articles</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page">

    <h1>Articles</h1>

    <form action="{{ url_for('add_article') }}" method="post" class="add-article">
        <dl>
            <dt>Title:</dt>
            <dd><input type="text" size="30" name="name"></dd>
            <dt>Text:</dt>
            <dd><textarea name="body" rows="5" cols="40"></textarea></dd>
            <dd><input type="submit" value="Create"></dd>
        </dl>
    </form>
    <ul class="articles">
        {% for article in articles %}
        <li class="article"><h2 id="{{ article.post_id }}">{{ article.name }}</h2>{{ article.body|safe }}</li>
        <td>
            <a href="{{ url_for('edit_article', post_id=article.post_id) }}">
                <i class="fa fa-pencil"></i> Edit
            </a>
        </td> -
        <td>
            <a href="{{ url_for('delete_article', post_id=article.post_id) }}">
                <i class="fa fa-trash"></i> Delete
            </a>
        </td>
        {% else %}
        <li><em>No articles yet. Add some!</em></li>
        {% endfor %}
    </ul>

</div>

</body>
</html>